<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
	<!-- composition template will use common items used such as a header, footer, etc. -->
	<ui:composition template = "/layouts/commonLayout.xhtml">	
		<ui:define name = "commonContent">
		
		<!-- Use a css file to format the tags -->
		<h:outputStylesheet library="css" name="table-style.css"  />
		<body> 
		<h:form> 
		
		
		
		<h:panelGrid columns="3">
		<h:outputLabel value="Select Book:" /> 
 
         <h:selectOneMenu id = "bibleSOM" value = "#{bible.bookNumber}"
          onchange="submit()" immediate="true">
            <f:selectItem itemValue = "1" itemLabel = "Genisis" /> 
            <f:selectItem itemValue = "2" itemLabel = "Exodus" /> 
            <f:selectItem itemValue = "3" itemLabel = "Leviticus" /> 
            <f:selectItem itemValue = "4" itemLabel = "Numbers" /> 
            <f:selectItem itemValue = "5" itemLabel = "Deuteronomy" />   
			<f:selectItem itemValue = "6" itemLabel = "Joshua" />
            <f:selectItem itemValue = "7" itemLabel = "Judges" />
            <f:selectItem itemValue = "8" itemLabel = "Ruth" />
            <f:selectItem itemValue = "9" itemLabel = "1 Samuel" />
            <f:selectItem itemValue = "10" itemLabel = "2 Samuel" />
            <f:selectItem itemValue = "11" itemLabel = "1 Kings" />
            <f:selectItem itemValue = "12" itemLabel = "2 Kings" />
            <f:selectItem itemValue = "13" itemLabel = "1 Chronicles" />
            <f:selectItem itemValue = "14" itemLabel = "2 Chronicles" />
            <f:selectItem itemValue = "15" itemLabel = "Ezra" />
            <f:selectItem itemValue = "16" itemLabel = "Nehemiah" />
            <f:selectItem itemValue = "17" itemLabel = "Esther" />
            <f:selectItem itemValue = "18" itemLabel = "Job" />
            <f:selectItem itemValue = "19" itemLabel = "Psalms" />
            <f:selectItem itemValue = "20" itemLabel = "Proverbs" />
            <f:selectItem itemValue = "21" itemLabel = "Ecclesiastes" />
            <f:selectItem itemValue = "22" itemLabel = "Song of Solomon" />
            <f:selectItem itemValue = "23" itemLabel = "Isaiah" />
            <f:selectItem itemValue = "24" itemLabel = "Jeremiah" />
            <f:selectItem itemValue = "25" itemLabel = "Lamentations" />
            <f:selectItem itemValue = "26" itemLabel = "Ezekiel" />
            <f:selectItem itemValue = "27" itemLabel = "Daniel" />
            <f:selectItem itemValue = "28" itemLabel = "Hosea" />
            <f:selectItem itemValue = "29" itemLabel = "Joel" />
            <f:selectItem itemValue = "30" itemLabel = "Amos" />
            <f:selectItem itemValue = "31" itemLabel = "Obadiah" />
            <f:selectItem itemValue = "32" itemLabel = "Jonah" />
            <f:selectItem itemValue = "33" itemLabel = "Micah" />
            <f:selectItem itemValue = "34" itemLabel = "Nahum" />
            <f:selectItem itemValue = "35" itemLabel = "Habakkuk" />
            <f:selectItem itemValue = "36" itemLabel = "Zephaniah" />
            <f:selectItem itemValue = "37" itemLabel = "Haggai" />
            <f:selectItem itemValue = "38" itemLabel = "Zechariah" />
            <f:selectItem itemValue = "39" itemLabel = "Malachi" />
            <f:selectItem itemValue = "40" itemLabel = "Matthew" />
            <f:selectItem itemValue = "41" itemLabel = "Mark" />
            <f:selectItem itemValue = "42" itemLabel = "Luke" />
            <f:selectItem itemValue = "43" itemLabel = "John" />
            <f:selectItem itemValue = "44" itemLabel = "Acts" />
            <f:selectItem itemValue = "45" itemLabel = "Romans" />
            <f:selectItem itemValue = "46" itemLabel = "1 Corinthians" />
            <f:selectItem itemValue = "47" itemLabel = "2 Corinthians" />
            <f:selectItem itemValue = "48" itemLabel = "Galatians" />
            <f:selectItem itemValue = "49" itemLabel = "Ephesians" />
            <f:selectItem itemValue = "50" itemLabel = "Philippians" />
            <f:selectItem itemValue = "51" itemLabel = "Colossians" />
            <f:selectItem itemValue = "52" itemLabel = "1 Thessalonians" />
            <f:selectItem itemValue = "53" itemLabel = "2 Thessalonians" />
            <f:selectItem itemValue = "54" itemLabel = "1 Timothy" />
            <f:selectItem itemValue = "55" itemLabel = "2 Timothy" />
            <f:selectItem itemValue = "56" itemLabel = "Titus" />
            <f:selectItem itemValue = "57" itemLabel = "Philemon" />
            <f:selectItem itemValue = "58" itemLabel = "Hebrews" />
            <f:selectItem itemValue = "59" itemLabel = "James" />
            <f:selectItem itemValue = "60" itemLabel = "1 Peter" />
            <f:selectItem itemValue = "61" itemLabel = "2 Peter" />
            <f:selectItem itemValue = "62" itemLabel = "1 John" />
            <f:selectItem itemValue = "63" itemLabel = "2 John" />
            <f:selectItem itemValue = "64" itemLabel = "3 John" />
            <f:selectItem itemValue = "65" itemLabel = "Jude" />
            <f:selectItem itemValue = "66" itemLabel = "Revelation" />             
         </h:selectOneMenu>  <br /><br />
        
        <h:outputLabel value="Select Chapter:" />
         <h:selectOneMenu id= "chapterSOM" value = "#{bible.chapterNumber}" 
         onchange="submit()" immediate="true"> 
         	<f:selectItems value = "#{formController.getChapList(bible.bookNumber)}" /> 
         </h:selectOneMenu><br /><br />
  
  		<h:outputLabel value="Select Verse:" />
         <h:selectOneMenu id= "verseSOM" value = "#{bible.verseNumber}"
         onchange="submit()" immediate="true"> 
         	<f:selectItems value = "#{formController.getVerseList(bible.bookNumber, bible.chapterNumber)}" /> 
         </h:selectOneMenu><br /><br />
         
         
         </h:panelGrid>
         
		<h:form id="tableForm">
         <h:commandButton value = "Get Verse" actionListener="#{formController.getVerseText(bible.bookNumber, bible.chapterNumber, bible.verseNumber)}" update="tableForm" /> 
         <h3>#{book.verseText}</h3>
         
         
         
        	<!-- Creates the table below the form with populated data -->
			<h:dataTable value = "#{formController.service.books}" var = "odr"
            styleClass = "order-table"
            headerClass = "order-table-header"
            rowClasses = "order-table-odd-row,order-table-even-row" 
            >
            <h:column>    				
               <f:facet name = "header">Book#</f:facet>    				
               #{odr.bookNumber}
            </h:column>            
            <h:column>    				
               <f:facet name = "header">Chapter#</f:facet>    				
               #{odr.chapterNumber}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Verse#</f:facet>
               #{odr.verseNumber}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Verse</f:facet>
               #{odr.verseText}
            </h:column>
            </h:dataTable>	 
         </h:form>
    	</h:form>
		</body> 
		</ui:define>	
	</ui:composition>
</html>
