<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>JSF Response Page</title>


</h:head> 
<body> 
	<!-- composition template will use common items used such as a header, footer, etc. -->
	<ui:composition template = "/layouts/commonLayout.xhtml">	
		<ui:define name = "commonContent">
		
		<!-- Use a css file to format the tags -->
		<h:outputStylesheet library="css" name="table-style.css"  />
		Hello #{User.firstName} #{User.lastName}. Your Orders are: <br></br><br></br>
		
		<!-- Creates a table using the items in the list -->
		<!-- <h:dataTable value = "#{orders.orders}" var = "odr"-->
		<h:dataTable value = "#{formController.service.orders}" var = "odr"
            styleClass = "order-table"
            headerClass = "order-table-header"
            rowClasses = "order-table-odd-row,order-table-even-row">
            
            <h:column>    				
               <f:facet name = "header">Order Number</f:facet>    				
               #{odr.orderNumber}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Product Name</f:facet>
               #{odr.productName}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Quantity</f:facet>
               #{odr.quantity}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Price</f:facet>
               #{odr.price}
            </h:column>
            </h:dataTable>
            
			<br></br>
			<br></br>
			
			<!-- Returns you back to the main "login form" -->
			<h:button value="Login Page" outcome="TestForm.xhtml" />
		</ui:define>	
	</ui:composition>
</body>
</html>