<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<!-- composition template will use common items used such as a header, footer, etc. -->
	<ui:composition template = "/layouts/commonLayout.xhtml">	
		<ui:define name = "commonContent">
		
		<!-- Use a css file to format the tags -->
		<h:outputStylesheet library="css" name="table-style.css"  />
		<h:form>
			<h:commandButton value="#{User.firstName}, your order was processed!" action="#{formController.onOrderProcessed()}" ></h:commandButton>
		</h:form>
	</ui:define>	
	</ui:composition>
</body> 
</html>
